.cbg-black {
	background-color: #030303;
}

.cbg-green {
	background-color: #51a351;
}

.cbg-red {
	background-color: #bd362f;
}

.cbg-blue {
	background-color: #9E9E9E;
}

.cbg-yellow {
	background-color: #f89406;
}
.cbg-light {
	background-color: #ECEFF4;
}

.cbg-grey {
	background-color: #607D8B;
}
.icon-link:hover {
	text-decoration: none;
}

.icon-link {
	font-size: 16px;
}

.page-item.active .page-link {
	background-color: #2f96b4 !important;
	border-color: #2f96b4 !important;
}

.loading-block {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba( 255, 255, 255, .5 ) url('/Content/Images/loading.gif') 50% 50% no-repeat;
    display: none;
}